<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>PhotoSwipe needs access to your photos so you can review and clean up your library.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>PhotoSwipe needs permission to manage photos in your library.</string>
</dict>
</plist>
